<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.wordcheck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dictionary"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.example.wordcheck.AppContext">
        <activity
            android:name="com.example.wordcheck.MainActivity"
            android:screenOrientation="portrait"> <!-- 固定竖屏 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wordcheck.VocabularyActivity"
            android:screenOrientation="portrait"
            android:label="Vocabulary"/>
        <activity android:name="com.example.wordcheck.SentenceActivity"
            android:screenOrientation="portrait"
            android:label="One sentence per day"></activity>
        <activity android:name="com.example.wordcheck.ReciteWord"
            android:screenOrientation="portrait"
            android:label="ReciteWord"></activity>
    </application>

</manifest>
